@font-face {
  font-family: 'Cowra';
  src: url('/fonts/Cowra.otf') format('opentype'),
       url('/fonts/Cowra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 