@font-face {
  font-family: 'Mirabella';
  src: url('/fonts/Mirabella.woff2') format('woff2'),
       url('/fonts/Mirabella.woff') format('woff'),
       url('/fonts/Mirabella.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 